<style>.question{font-weight:600}.answers{margin-bottom:20px}.answers label{display:block}.cudlik{font-family:sans-serif;font-size:20px;background-color:#279;color:#fff;border:0;border-radius:3px;padding:20px;cursor:pointer;margin-bottom:20px}.cudlik:hover{background-color:#38a}#results{font-size:20px;font-weight:bold}.lejbl{font-weight:normal}</style>
<script src="https://unpkg.com/jquery@3.2.1"></script>


<div class="b-data__bg" style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7d/Zasedac%C3%AD_s%C3%A1l_Poslaneck%C3%A9_sn%C4%9Bmovny.jpg');"><span class="b-data__caption">Foto <a href='https://commons.wikimedia.org/wiki/Category:Thunovsk%C3%BD_pal%C3%A1c#/media/File:Zasedac%C3%AD_s%C3%A1l_Poslaneck%C3%A9_sn%C4%9Bmovny.jpg'>Ervinpospisil/Wikimedia Commons (CC-BY-SA 2.5)</a></span></div>
<header class="b-data__header">
<div class="row-main">
	<h1 class="b-data__title">
		<strong>Vyznáte se ve stranických slibech? Vyzkoušejte si kvíz politických programů</strong><br>
		<small></small>
	</h1>
	<p class="meta meta--lg">
	<a href="#" class="meta__link">Michal Zlatkovský</a>
	<span class="meta__separator">|</span>
	<time>24. července 2017</time>
	</p>	
	<p>
	<a href="#content" class="b-data__link js-scroll-to">
	Čtěte dále
	<span class="b-data__link-icon">
	<span class="icon-svg icon-svg--arrow-down">
	<svg class="icon-svg__svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<use xlink:href="/sites/all/themes/custom/irozhlas/img/bg/icons-svg.svg#icon-arrow-down" x="0" y="0" width="100%" height="100%"></use>
	</svg>
</span>
</span>
</a>
</p>
</div>
</header> 

<div class="b-data__content" id="content">
<div class="row-main row-main--narrow">

<p>Poznáte politickou stranu jen podle jejích programových bodů? Zjistíte to v našem kvízu politických programů. Každý z deseti konkrétních programových bodů přiřadíte ke konkrétní straně. Hned po výběru odpovědi uvidíte, jestli jste se trefili - a kolik procent lidí odpovědělo správně.</p>
<p>Každý kvíz je unikátní - otázky i možnosti se náhodně vybírají z naší databáze programových tezí. V té je rovnoměrně zastoupeno deset stran s největší šancí dostat se v příštích volbách do Poslanecké sněmovny. <span id="skrolsem"></span></p>
<div id="quiz"></div>

<div id="results"></div>

<p><br>
<button id="submit" class="cudlik">Spočítat body</button> <button id="reset" class="cudlik">Chci nový kvíz!</button></p>
<p>Při sbíraní tezí jsme vycházeli z nejaktuálnějších programů dostupných na webech jednotlivých politických stran. V případě strany ANO jsme vzhledem k dosud neexistujícímu programu použili knihu jejího lídra Andreje Babiše O čem sním, když náhodou spím. </p>
<p>Teze jsou vždy uvedeny v co nejpřesnější verzi z konkrétního programu. V případě, že je odpověď označena jako nesprávná, neznamená to, že daná strana nenavrhuje podobné či stejné opatření - jako správná se však zobrazuje jen ta strana, která má ve svém programu přímo konkrétní uvedenou formulaci.</p>

</div>
</div><script>   strany = {
    "TOP 09": "p0",
    "ČSSD": "p1", 
    "ODS": "p2",
    "ANO": "p3", 
    "KDU-ČSL": "p4", 
    "KSČM": "p5", 
    "Piráti": "p6", 
    "Zelení": "p7", 
    "SPD": "p8",
    "Svobodní": "p9"},

   otazky = [
    {
      id: 1,
      teze: "Prosadíme podporu Izraele jako jediného skutečně demokratického státu na Blízkém východě.",
      strana: "ODS"
    },
    {
      id: 2,
      teze: "Zavedeme opatření k posílení exportních možností ČR na stávajících i nových trzích, a to i mimo evropský kontinent, např. v Asii nebo Latinské Americe.",
      strana: "ODS"
    },
    {
      id: 3,
      teze: "Prosadíme průměrný plat učitele minimálně 35 000,– Kč.",
      strana: "ODS"
    },
    {
      id: 4,
      teze: "Zrušíme povinnou inkluzi – řešení ponecháme v rukou každé školy.",
      strana: "ODS"
    },
    {
      id: 5,
      teze: "Zrušíme „Pamlskovou“ vyhlášku omezující prodej potravin ve školách.",
      strana: "ODS"
    },
    {
      id: 6,
      teze: "Změníme zákon o ochraně přírody a krajiny tak, aby bral ohled i na člověka jako součást přírody.",
      strana: "ODS"
    },
    {
      id: 7,
      teze: "Zrušíme nadbytečné byrokratické instituce, např. přístrojovou komisi.",
      strana: "ODS"
    },
    {
      id: 8,
      teze: "Zavedeme elektronické dálniční známky s možností nákupu pomocí internetu nebo SMS.",
      strana: "ODS"
    },
    {
      id: 9,
      teze: "Prosadíme další navyšování počtu pracujících vězňů.",
      strana: "ODS"
    },
    {
      id: 10,
      teze: "Zavedeme posílení upřednostňování pěstounské péče před umísťováním opuštěných dětí do ústavů.",
      strana: "ODS"
    },
    {
      id: 11,
      teze: "Zavedeme 5 týdnů dovolené pro všechny zaměstnance a nemocenská bude opět od prvního dne.",
      strana: "ČSSD"
    },
    {
      id: 12,
      teze: "Prosadíme právo na nedostupnost po pracovní době.",
      strana: "ČSSD"
    },
    {
      id: 13,
      teze: "Snížíme DPH u základních potravin – pečiva, mléka, mléčných výrobků, masa, ryb a čerstvého ovoce a zeleniny na 10 %.",
      strana: "ČSSD"
    },
    {
      id: 14,
      teze: "Obnovíme společné zdanění manželů.",
      strana: "ČSSD"
    },
    {
      id: 15,
      teze: "Udržíme hranici věku odchodu do důchodu na 65 letech a budeme pravidelně navyšovat penze.",
      strana: "ČSSD"
    },
    {
      id: 16,
      teze: "Prosadíme výstavbu vysokorychlostní železniční tratě ve směru Drážďany-Praha-Brno-Břeclav. Spojení Praha-Brno bude pod jednu hodinu.",
      strana: "ČSSD"
    },
    {
      id: 17,
      teze: "Zavedeme jízdné zdarma ve veřejné železniční a autobusové dopravě pro děti, žáky základních a středních škol a seniory od 65 let.",
      strana: "ČSSD"
    },
    {
      id: 18,
      teze: "Chceme být v jádru Evropské unie a podporujeme posilování evropských vojenských kapacit ve spolupráci s NATO.",
      strana: "ČSSD"
    },
    {
      id: 19,
      teze: "Zvýšíme výdaje na kulturu jako veřejnou službu a zvýšíme platy pracovníků v kultuře.",
      strana: "ČSSD"
    },
    {
      id: 20,
      teze: "Zvýšíme ochranu domácí zemědělské a potravinářské produkce proti dovozům nekvalitních potravin.",
      strana: "ČSSD"
    },
    {
      id: 21,
      teze: "Zavedeme brannou a vlasteneckou výchovu.",
      strana: "KSČM"
    },
    {
      id: 22,
      teze: "Založíme komerční banku ve vlastnictví státu pro financování národních, krajských i obecních projektů.",
      strana: "KSČM"
    },
    {
      id: 23,
      teze: "Prosazujeme zákon o obecném referendu, chceme rozšířit právo všelidové iniciativy.",
      strana: "KSČM"
    },
    {
      id: 24,
      teze: "Zaručíme objektivní informovanost veřejnosti, nezávislost a vyváženost médií.",
      strana: "KSČM"
    },
    {
      id: 25,
      teze: "Prosadíme revizi a zdanění církevních restitucí a urychlíme odluku státu od církve.",
      strana: "KSČM"
    },
    {
      id: 26,
      teze: "Prosadíme právo na čistý vzduch a budeme účinně regulovat a postihovat znečišťovatele ovzduší.",
      strana: "KSČM"
    },
    {
      id: 27,
      teze: "Podpoříme ekologicky šetrné druhy dopravy, včetně integrované veřejné hromadné dopravy. Podpoříme národní dopravce.",
      strana: "KSČM"
    },
    {
      id: 28,
      teze: "Zahájíme výstavbu dalších bloků jaderné elektrárny Dukovany.",
      strana: "KSČM"
    },
    {
      id: 29,
      teze: "Prosadíme návrat k soběstačnosti ve výrobě a zpracování potravin na domácí půdě s důrazem na kvalitu a nezávadnost.",
      strana: "KSČM"
    },
    {
      id: 30,
      teze: "Zachováme a budeme dále rozvíjet speciální školství, inkluze za každou cenu je nesmysl.",
      strana: "KSČM"
    },
    {
      id: 31,
      teze: "Minimální mzdy zavedeme na 50 % průměrné mzdy.",
      strana: "KSČM"
    },      
    {
      id: 32,
      teze: "V každé větší obci a městě budou multifunkční sportoviště pro veřejnost.",
      strana: "ANO"
    },
    {
      id: 33,
      teze: "Postavíme nové přehrady, obnovíme tisíce rybníků, tůní a mokřadů.",
      strana: "ANO"
    },
    {
      id: 34,
      teze: "Zavedeme vzdělávací vouchery z fondu vzdělávání. Každý na ně musí mít celý život nárok a budou fungovat podobně jako stravenky do restaurace.",
      strana: "ANO"
    },
    {
      id: 35,
      teze: "Vysoké školy se musí otevřít potřebám průmyslu.",
      strana: "ANO"
    },
    {
      id: 36,
      teze: "Měli bychom uvážit propojení Dunaje a Vltavy.",
      strana: "ANO"
    },
    {
      id: 37,
      teze: "Přínosy z technologií se musí přerozdělovat ve prospěch všech.",
      strana: "ANO"
    },
    {
      id: 38,
      teze: "Podnikatelské dotace budou mířit přednostně do obcí pod 5 tisíc obyvatel.",
      strana: "ANO"
    },
    {
      id: 39,
      teze: "Obcím by se měly vrátit podíly na daních z příjmů fyzických osob, které v nich sídlí.",
      strana: "ANO"
    },
    {
      id: 40,
      teze: "Živnostníci budou všechny daně odesílat jen jedním převodem.",
      strana: "ANO"
    },
    {
      id: 41,
      teze: "Odmítáme uprchlické kvóty a vydírání Bruselu.",
      strana: "ANO"
    },
    {
      id: 42,
      teze: "NATO by se mělo změnit z obranného paktu na útočný.",
      strana: "ANO"
    },
    {
      id: 43,
      teze: "Zamezíme masivnímu odlivu kapitálu do zahraničí.",
      strana: "KDU-ČSL"
    },
    {
      id: 44,
      teze: "Budeme prosazovat zrušení EET u malých podnikatelů a u nestátních neziskových organizací.",
      strana: "KDU-ČSL"
    },
    {
      id: 45,
      teze: "Prosadíme větší jazykovou gramotnost, např. tím, že část dětských TV pořadů bude vysílána v cizím jazyce, filmy upřednostníme v původním znění s titulky.",
      strana: "KDU-ČSL"
    },
    {
      id: 46,
      teze: "Zavedeme elektronizaci zkoušek na středních školách.",
      strana: "KDU-ČSL"
    },
    {
      id: 47,
      teze: "Zvýšíme průměrnou mzdu pedagogických pracovníků na úroveň 130 % průměrné mzdy v národním hospodářství.",
      strana: "KDU-ČSL"
    },
    {
      id: 48,
      teze: "Budeme prosazovat a podporovat sociálně tržní hospodářství a jeho principy.",
      strana: "KDU-ČSL"
    },
    {
      id: 49,
      teze: "České přírodní bohatství a suroviny chceme zpracovávat v maximální míře v ČR.",
      strana: "KDU-ČSL"
    },
    {
      id: 50,
      teze: "Připravíme přijetí eura.",
      strana: "KDU-ČSL"
    },
    {
      id: 51,
      teze: "Podpoříme volnější pracovní právo pro malé a střední podniky.",
      strana: "KDU-ČSL"
    },
    {
      id: 52,
      teze: "Nebudeme již zvyšovat stavy státních úředníků.",
      strana: "KDU-ČSL"
    },     
    {
      id: 53,
      teze: "Umožníme vysokým školám zavést školné.",
      strana: "TOP 09"
    },
    {
      id: 54,
      teze: "Navýšíme finanční prostředky do regionálního školství o 30 miliard.",
      strana: "TOP 09"
    },
    {
      id: 55,
      teze: "Nedovolíme, aby jediný talent ztratil přístup ke vzdělání ze sociálních důvodů.",
      strana: "TOP 09"
    },
    {
      id: 56,
      teze: "Nepřipustíme povinnost obou rodičů vystřídat se během rodičovské dovolené.",
      strana: "TOP 09"
    },
    {
      id: 57,
      teze: "Zrychlíme rozhodování opatrovnických soudů zavedením lhůt pro rozhodování o zvláště citlivých otázkách, jako je stanovení výše alimentů či svěření dětí do péče.",
      strana: "TOP 09"
    },
    {
      id: 58,
      teze: "Zvýšíme platové ohodnocení sociálním pracovníkům.",
      strana: "TOP 09"
    },
    {
      id: 59,
      teze: "Zrušíme EET.",
      strana: "TOP 09"
    },
    {
      id: 60,
      teze: "Nedopustíme, aby v naší zemi došlo k vulgárně uplatňované sekularizaci.",
      strana: "TOP 09"
    },
    {
      id: 61,
      teze: "Jen 1,5 % území je pod nejvyšším stupněm ochrany v našich národních parcích. Česká republika je natolik bohatou zemí, že si může dovolit toto území zdvojnásobit zřízením nových národních parků.",
      strana: "TOP 09"
    },
    {
      id: 62,
      teze: "Stanovíme pevný termín vstupu ČR do eurozóny.",
      strana: "TOP 09"
    },      
    {
      id: 63,
      teze: "Zavedeme volební právo od 16 let.",
      strana: "Zelení"
    },
    {
      id: 64,
      teze: "Zřídíme plnohodnotné ministerstvo pro lidská práva, rovné příležitosti a migraci.",
      strana: "Zelení"
    },
    {
      id: 65,
      teze: "Zrušíme výjimky v registru smluv pro státní firmy, firmy obchodované na burze včetně firmy ČEZ, společnosti s účastí obcí a krajů a pro nejvyšší orgány moci zákonodárné, výkonné a soudní.",
      strana: "Zelení"
    },
    {
      id: 66,
      teze: "Zasadíme se o možnost úřední změny pohlaví bez povinné sterilizace.",
      strana: "Zelení"
    },
    {
      id: 67,
      teze: "Zrušíme investiční pobídky pro „montovny“ a nahradíme pracovní místa s nízkou přidanou hodnotou.",
      strana: "Zelení"
    },
    {
      id: 68,
      teze: "Urychleně zavedeme zákonný nárok na místo pro dítě ve školce od tří let věku.",
      strana: "Zelení"
    },    
    {
      id: 69,
      teze: "Prosazujeme snižování věku odchodu do důchodu podle počtu řádně vychovaných dětí.",
      strana: "SPD"
    },
    {
      id: 70,
      teze: "Prosazujeme časově omezený mandát soudců a jejich hmotnou odpovědnost.",
      strana: "SPD"
    },
    {
      id: 71,
      teze: "Zrušíme rozhlasové i televizní poplatky u fyzických osob a rozhlas i televize budou pracovat na základě rozpočtové dotace státního rozpočtu.",
      strana: "SPD"
    },
    {
      id: 72,
      teze: "Zavedeme od mladé generace osmitýdenní povinný základní vojenský výcvik.",
      strana: "SPD"
    },
    {
      id: 73,
      teze: "Budeme žádat plnou suverenitu v otázce imigrace, vnitřní a vnější bezpečnosti, potravinové a energetické bezpečnosti, daní a měny.",
      strana: "SPD"
    },   
    {
      id: 74,
      teze: "Budeme prosazovat, aby byla zavedena povinnost korporací nadpoloviční většinu zisku zpětně investovat v ČR.",
      strana: "SPD"
    },        
    {
      id: 75,
      teze: "Prosadíme, aby vyjádření Národního památkového ústavu byla pro úřady závazná.",
      strana: "Piráti"
    },
    {
      id: 76,
      teze: "Zastavíme lobbing telefonních operátorů. Inspirujeme se v Polsku a donutíme trh mobilních operátorů ke konkurenci.",
      strana: "Piráti"
    },
    {
      id: 77,
      teze: "Zavedeme veřejnou kartu soudce se záznamy o jeho osobě a výsledcích, hodnocení jeho práce nejméně jednou za 5 let s možností postihu a odvolání soudce. Pravomoc k tomu bude mít kárný senát, kde by měla být většina ne-soudců.",
      strana: "Piráti"
    },
    {
      id: 78,
      teze: "Majetková přiznání se stanou úplnými díky hrozbě propadnutí majetku. Zavedeme veřejné diáře.",
      strana: "Piráti"
    },
    {
      id: 79,
      teze: "Zdravotní pojišťovny (mimo VZP) se budou moci odlišovat rozsahem hrazených služeb a mírou spoluúčasti a příplatku k pojistnému.",
      strana: "Piráti"
    },
    {
      id: 80,
      teze: "Budeme podporovat začínající zemědělce, rodinné farmy, malá družstva a komunitou podporované zemědělství (např. volným prodejem v malém).",
      strana: "Piráti"
    },    
    {
      id: 81,
      teze: "Zrušíme zbytečné úřady – propustíme 25 tisíc zbytečných úředníků a zrušíme 20 zbytečných úřadů.",
      strana: "Svobodní"
    },
    {
      id: 82,
      teze: "Zavedeme bezpečný systém korespondenčního nebo elektronického hlasování z pohodlí vašeho domova a umožníme tak každému si vybrat, zda bude hlasovat ve volební místnosti, od počítače, nebo poštou.",
      strana: "Svobodní"
    },
    {
      id: 83,
      teze: "Zachováme současnou zbraňovou legislativu s vysokými požadavky na držitele zbraní.",
      strana: "Svobodní"
    },
    {
      id: 84,
      teze: "Zrušíme limit na výsadbu vinic a umožníme rozšiřování viničních tratí.",
      strana: "Svobodní"
    },
    {
      id: 85,
      teze: "Přeměníme národní instituce v takzvané veřejné instituce řízené správními radami. Národním divadlům či Národnímu muzeu to umožní větší uměleckou samostatnost.",
      strana: "Svobodní"
    }
  ];

(function() {
  function shuffle(a) {
    for (let i = a.length; i; i--) {
        let j = Math.floor(Math.random() * i);
        [a[i - 1], a[j]] = [a[j], a[i - 1]];
    }
  }

  function buildQuiz() {
    const output = [];
    shuffle(otazky)
    otazky = otazky.slice(0,10)
    otazky.forEach(function vyflusOtazky(currentQuestion, questionNumber) {
      const answers = [];

      // spravna moznost z JSONu
      moznosti = [currentQuestion.strana];

      // 3 nahodne spatne k tomu
      possibls = Object.keys(strany);
      
      while (moznosti.length < 4) {
 		possibl = possibls[possibls.length * Math.random() << 0];
      	if ($.inArray(possibl, moznosti) == -1) {
			moznosti.push(possibl);
		}
      }

      // vyflus moznosti

      moznosti.forEach(function vyflusMoznosti(moznost) {

       if (moznost == currentQuestion.strana) {
       	corr="spravna"
       } else {
       	corr="spatna"
       }

       answers.push(
          `<label class="lejbl">
            <input type="radio" name="question${questionNumber}" value="${corr}">
            ${moznost}
          </label>`
       );
      });

      // zamichani a vyflus otazek
      shuffle(answers)

      output.push(
        `<div class="question"> ${questionNumber+1}. ${currentQuestion.teze} </div>
        <div class="answers" id="q${currentQuestion.id}"> ${answers.join("")} </div>
        <div class="restext" id="r${currentQuestion.id}"></div><p>`
      );
    });

    quizContainer.innerHTML = output.join("");
  }

  const quizContainer = document.getElementById("quiz");

  const stamp = Date.now() + Math.floor(Math.random()*10000);

  numCorrect = 0;

  //vochcavka kvuli spravnemu prirazeni vyflusu statistik
  jsonid = [];
  jsonidPos = 0;  

  buildQuiz();

  $("input[type='radio']").change(function() {
  	 qid = $(this).parent().parent().attr('id')
  	 rid = "#r" + qid.slice(1,)

  	 strana = $(this).parent().text().trim()
  	 sprStrana = $("#" + qid + " [value='spravna']").parent().text().trim()
  	 pid = strany[strana]
  	 spid = strany[sprStrana]

  	 jsonid.push(rid);

  	 // znehybneni a barvicky
  	 cudliky = "[name=" + ($(this).attr('name')) + "]"
  	 $(cudliky).attr('disabled',true);

	 $(this).parent().parent().css("color", "red");
	 $("#" + qid + " [value='spravna']").parent().css("color", "green");

  	 // vyhodnoceni po otazkach
  	 if (strana == sprStrana) {
  	 numCorrect++;
  	 console.log($("#" + qid + " [value='spravna']"))
  	 $(rid).text("Správná odpověď!");
  	 $(rid).css("color", "green");

  	 } else {

  	 $(rid).text("Vedle! Teze pochází z programu strany " + sprStrana +". ");
  	 $(rid).css("color", "red");

  	 };

 	 $.ajax({
            url: "https://0oka9twq1a.execute-api.us-west-2.amazonaws.com/prod",
            type: "POST",
            crossDomain: !0,
            contentType: "application/json",
            data: JSON.stringify([stamp, qid, pid]),
            dataType: "json",
            success: function(response){

            	totalAnswers = 0;
            	correctAnswers = 0;

            	Object.keys(response).forEach(function sendOdpoved(odpoved) {
            		totalAnswers += response[odpoved]
            		if (odpoved == spid) {
            			correctAnswers = response[odpoved]
            		}
            	});

            	correctPct = Math.floor((correctAnswers / totalAnswers) * 100);

            	$(jsonid[jsonidPos]).append(" Správně odpovědělo " + correctPct + " % lidí.");

            	jsonidPos ++;
            }
        })
  })

  //vysledkovy cudlik
  $("#submit").click( function() {
  	
  	$("[type=radio]").attr('disabled',true);

 	if (numCorrect < 4 ) {
  		$("#results").text(`Trefili jste ${numCorrect} z ${otazky.length} programových tezí! Zkuste si kvíz zopakovat s jinými otázkami, třeba budete mít větší štěstí.`);
  	} else if (4 <= numCorrect < 7) {
  		$("#results").text(`Trefili jste ${numCorrect} z ${otazky.length} programových tezí! Není to špatné, ale expert na politické programy z vás ještě není. Zkuste si kvíz zopakovat s jinými otázkami!`);
  	} else if (numCorrect >= 7) {
  		$("#results").text(`Trefili jste ${numCorrect} z ${otazky.length} programových tezí! Ve volebních programech se skvěle vyznáte - nebo jste měli štěstí. Zopakujte si kvíz s jinými otázkami a zkuste dosáhnout stejného výsledku.`);
  	};

  //easter egg
  	if (document.URL.indexOf("?sendvic") !== -1 ) {
  		$("#results").append(" Kdybyste byl/a sendvič, budete ");
  		switch(numCorrect) {
  			case 0:
  				$("#results").append("English Muffin Breakfast Sandwich!<img src='http://www.laurafuentes.com/wp-content/uploads/2015/02/egg-mcmuffins-with-coffee-681x1024.jpg' width='100%'>");
  				break;
  			case 1: 
  				$("#results").append("Smoky Barbecued Beef Sandwich!<img src='https://s-media-cache-ak0.pinimg.com/736x/14/87/bc/1487bc6191229200c8bb4382d44270c4--pulled-beef-crock-pot-recipes-slow-cooker-pulled-beef-crock-pot-recipes-sandwiches.jpg' width='100%'>");
  				break;
  			case 2:
  				$("#results").append("Hot Beef Sandwich!<img src='https://images-gmi-pmc.edge-generalmills.com/339bf019-7cfa-4ad2-9dae-8a5a9f77f010.jpg' width='100%'>");
  				break;
  			case 3: 
  				$("#results").append("Ham and Cheese Stromboli!<img src='http://cf.belleofthekitchen.com/wp-content/uploads/2015/09/ham-cheese-stromboli6.jpg' width='100%'>");
  				break;
  			case 4:
  				$("#results").append("Grilled Cheese Sandwich!<img src='http://1.bp.blogspot.com/-hOisAYJTwWE/TrCPTTspz9I/AAAAAAAAM8Y/RIqSBVtAx88/s800/The%2BPerfect%2BGrilled%2BCheese%2BSandwich%2B800%2B1581.jpg' width='100%'>");
  				break;
  			case 5: 
  				$("#results").append("Grilled Reuben Sandwich! <img src='http://healthyeatingforfamilies.com/wp-content/uploads/2014/11/reuben-sandwichiStock_000005666730Medium-1024x684.jpg' width='100%'>");
  				break;
  			case 6:
  				$("#results").append("Philly Cheese Steak!<img src='http://assets.epicurious.com/photos/578e746c95824bf90525e568/master/pass/michaels-famous-philly-cheese-steak-sandwich.jpg' width='100%'>");
  				break;
  			case 7: 
  				$("#results").append("Chicken Salad Sandwich!<img src='https://images-gmi-pmc.edge-generalmills.com/e34bfb4d-7d68-4249-99f9-078c8df7d502.jpg' width='100%'>");
  				break;
  			case 8:
  				$("#results").append("Sloppy Joe!<img src='http://www.simplyrecipes.com/wp-content/uploads/2009/11/sloppy-joe-horiz-a-1600.jpg' width='100%'>");
  				break;
  			case 9: 
  				$("#results").append("Po' Boy!<img src='https://static1.squarespace.com/static/5522e704e4b09b97d697cec5/t/557f4806e4b0971f7f8c62f9/1434404871998/Untitled-3.jpg?format=2500w' width='100%'>");
  				break;
  			case 10:
  				$("#results").append("Banh mi!<img src='https://assets3.thrillist.com/v1/image/1879325/size/tl-horizontal_main.jpg' width='100%'>");
  		}
  	}
  } ) ;

  //reset cudlik
  $("#reset").click( function() {
    $('html, body').animate({
        scrollTop: $("#skrolsem").offset().top
    }, 0);  	
  	location.reload()
  } ) ;

})();</script>
