
.question{
    font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
.cudlik{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #279;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.cudlik:hover{
    background-color: #38a;
}
#results{
	font-size: 20px;
	font-weight: bold;
}

.lejbl{
	font-weight: normal;
}